
.box-pad{
    margin: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}
.danger{
    color: red;
}
.green{
    border: none;
    border: 'none';
     border-Collapse :Collapse;
      border-spacing:0;
}
.actif{
    border: none;
    border: 'none';
     border-Collapse :Collapse;
      border-spacing:0;
}
.tout{
    border: none;
}
.box-un{
    background: #fffefe;
    width: 250px;
    box-shadow: 10px 5px 5px rgb(94, 91, 91);
    height:119px;
    border-radius: 15px;
    margin: 2rem;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.bootstraptable.table-borderless {
    border: none;
  }
  .container .bootstrapTable{
    border: 'none';
     border-Collapse :Collapse;
      border-spacing:0;
  }
.button{
    
    margin-left: 525px;
    
}
.circle {
    width: 15px;
    height: 26px;
    border-radius: 10px;
    background-color: rgb(64, 245, 32);
}
.p2{
    display: flex;
    width: 100px;
    height: 10px;
    background-color: rgb(207, 211, 207);
    
}
.p3 h6{
    margin-top: -4px;
    padding-left: 110px;
}
.p2 .p3{
    width: 55px;
    height: 10px;
    background-color: rgb(5, 154, 5);
   
}
.p{
    display: grid;
    display: flex;
    width: 95px;
    height: 10px;
    background-color: green;
    margin-right: 5px;
}
.free{
   
    background:#fffefe;
    width: 100%;
    box-shadow: 10px 5px 5px rgb(86, 82, 82);
    height: 40px;   
}
.util h3{
    text-align: left;
}
.tableau{
    max-width: 980px;
    margin: 0 auto; 
    padding: 20px;



}
.bootstraptable{
    border-radius: none;
  border: none;
    border-collapse: collapse;
}
.container {
    margin: 1rem;
    border: none ;
    border-color: #fffefe;
    
}
footer{
    display: flex;
    justify-content: center;

}
footer h5{
   text-align: center;
   margin: 1rem;
}

@media (max-width: 560px){
    .box-pad{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container{
font-size: 7px;

    }
    .p2{
        width: 90px;
        height: 10px;
        background-color: rgb(207, 211, 207);
        
    }
    
    .p3 h6{
        
    }
    .footer h5{
    font-size: 9px;
    }
    .button{
        margin-left: 25px;
    
    }
    .tableau{
        margin-right: 70px;
        font-size: 8px;
        
    }
.tableau img{
    
    
}
}
