.total3{
    font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: right;

color: rgba(255, 0, 0, 0.95)
}
.tab td{
    background-color: rgba(197, 197, 197, 1) !important;
    opacity: 20%;
     
}
.tab td .test{
    font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;

}
.iconfb{
    width: 20px;
height: 22px;
top: 73px;
margin-left: 10px;
 color:  rgba(255, 0, 0, 1);


}
.textdisigner{
   

opacity: 20%px;
font-family: Montserrat;
font-size: 14px;
margin-left: 137px !important;

}

@media only screen and (max-width: 767px)  {
  

    .Container {
      width: 95%;
      margin: 0 auto; 
      display: none;
    }
    .total3{
       
        margin-top: 10px !important;
       
    }
    .cheader{
        width: 299px;
        
    }
    .cbody{
        width: 300px !important;
        
        margin-top: 30px !important;
        height: 480px !important;
    }
    .tab{
        width: 250px !important;
        height: 50px !important;
        margin-top: -20px !important;
        margin-left: -21.31px !important;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
    .Container {
      width: 90%; 
      margin: 0 auto; 
      font-size: 16px; 
    }
    .background {
    
        width: 90px;
        height: 46px;
        margin-top: 81px;
        margin-left:590px;
        border-radius: 15px;
        background: rgba(196, 196, 196, 1);
    
      }
      
      .ellipse-container {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: flex;
        align-items: start;
        
        position: absolute;
      }
      
      .ellipse1 {
        width: 10px;
    height: 10px;
    margin-top: 20px;
    
    left:653px;
    background: rgba(32, 223, 127, 1);
    
    
        
      }
      
      .ellipse2 {
        width: 10px;
        height: 10px;
        margin-top: 20px;
        left: 690px;
        background: rgba(32, 223, 127, 1);
      }
      
      .ellipse3 {
        background: rgba(32, 223, 127, 1);
        width: 10px;
    height: 10px;
    margin-top: 20px;
    left: 669px;
      }
      
    .total3{
        margin-left: -15px !important;
       
    }
   
       
    
    .cheader{
        width: 467px;
      
    }
    .cbody{
        width: 469px !important;
        margin-left: 135px;
        margin-top: 95px;
    }
    
    .tab{
        width: 399px !important;
        height: 120px !important;
        align-items: center;
        margin-left: -10px !important;
    
    align-items: center;
      
    }
}