.Container {
    justify-content: center;
   flex-direction: column;
   display: flex;
   background-color: #ccc;
}
.card6{
    background-color: #fff;
    border-radius: 8px;
    height: 118px;
    width: 260.8px;
    box-shadow:0px 4px 6px rgba(208, 207, 207, 0.962);
    justify-content: center;
   
    margin-top: 16px !important;
   
  
  gap: 10px;
  border: 1px solid #ccc;
  

  }
  
  table{
    border-spacing: 0; border-collapse: collapse ; border: none;
  }
  td{
    border:none ; border-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0; 
    text-align: center;
  }
  
  .textH{
    
        padding-top: 15px !important;
        color:  rgba(32, 223, 127, 1) !important;
        font-size: 12px;
       margin-left: 60px;
    
  }
  
  button{
    width: 79px;
    height: 30px;
    top: 370px;
    border-radius: 3px;
    left:  1028px;
    background-color: black;
    color: #fff;
  }
 table th {
  text-align: center;
    border:none ; border-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0; 
    box-shadow:0px 4px 6px rgba(208, 207, 207, 0.962);
    background: rgba(32, 223, 127, 1) !important;
}
.link{
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}
.text6{
    width: 40px;
    height: 15px;
   margin-top: 6px;
    margin-left: 45px !important;
    font-size: 25px !important;
color: rgba(32, 223, 127, 1);

}
@media only screen and (max-width: 767px)  {
  

  .Container {
    width: 99%;
    margin: 0 auto; 
    display: none;
   
  }
  
 
  
  .circle-layout {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-gap: 10px;
    text-align: center;
    
    margin-top: 20px;
  }
  
  .circle {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
   
    
  }
  
  .white {
   margin-left:124px !important ;
  }
  
  .green {
    background-color: #28a745;
    color: hsl(0, 5%, 4%);
    margin-left: 130px !important;
  }
 
  
table {
font-size: 10px;
margin-left: auto !important;
padding: 90px;
width: 680px !important;
height: 200px;
margin-left: 30px !important;
}

  
button{
width: 65px;
  height: 30px;
  font-size: 12px;
  margin-right: 20px;
  
}

.text6{
  font-size: 15px !important;
  margin-left: 18px !important;
}
 
}
